body {
  width: 100%;
  /*min-width: fit-content;*/
  background-color: #f5f7f9;
  margin-left: auto;
  margin-right:auto;
}

.main {
  display: none;
}

#main {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

#main #header {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #ffff;
  z-index: 11;
  border-bottom: 1px solid rgba(30, 35, 42, .06);
  /*box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);*/
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.16);
}

#main #header #button_group {
  position: absolute;
  right: 19.2px;
  bottom: 0px;
  padding-left: 0px;
  /*border-bottom: 2px solid black;*/
}

#button_life,
#button_tool,
#button_about {
  margin-left: 8px;
}

#header_panel {
  position: relative;
  z-index: 12;
  height: 100px;
}


#triangle {}

#triangle_bottom {}


#main #top_panel {
  width: 100%;
  height: 360px;
  background: url("../img/top_panel_back.webp");
  /*background-attachment: fixed; 这个可以造成视差滚动的效果*/
  background-repeat: no-repeat;
  background-size: auto 100%;
  /*等比例拉伸，不会影响图片效果*/
  position: relative;
  z-index: 10;
}



#main #top_panel #top_panel_bottom {
  /*  background: url("../img/header_triangle_bottom.svg");
  background-size: cover;
  width: 100%;
  height: 240px;
  position: absolute;
  bottom: 0;*/
}

#main #header #button_home {
  position: absolute;
  bottom: 0;
  left: 19.2px;
  /*border-bottom: 2px solid black;*/
  font-size: 16px;
}

/* 这里用到了id,因为id的优先级要大于class,所以下方的class:hover不会生效 */
#main #header .header_button {
  display: inline-block;
  background-color: transparent;
  border: none;
  /*border-bottom:5px solid black;*/
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 8px;
  font-size: 16px;
  /*font-family: monospace;*/
  font-weight: 200;
  line-height: 1;
}

.header_button:focus,
.header_button:active:focus,
.header_button.active:focus,
.header_button.focus,
.header_button:active.focus,
.header_button.active.focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}

.header_button:hover {
  background-color: transparent;
  color: #f30067 !important;
  border: none;
  border-bottom: 5px solid #ffd31d;
  border-radius: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  font-size: 18px;
  cursor: pointer;
}


#main #header .header_button_active {
  background-color: transparent;
  color: #f30067;
  border: none;
  /*border-bottom: 3px solid #f30067;*/
  font-weight: bold;
}

#main #sentence_panel {
  background-color: #ffffff5e;
  position:absolute;
  top:100px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 32px;
  width: 100%;
  height:260px;
  /*background-color: #f9ed69;*/
  z-index: 11;
}

#sentence_panel #beauty_sentence_panel {
  position: relative;
}

#sentence_panel #sentence_author {
  float: right;
  font-weight: bold;
  font-size: 18px;
}

#main #sentence_panel #sentence {
  margin: 0.8em 0;
  font-family: var(--font-sans-serif);
  -webkit-font-smoothing: antialiased;
  line-height: 1.6rem;
  letter-spacing: 0;
  margin: 0;
  font-size: 1rem;
  color: #00000099;
  font-weight: 222;
}

#main #sentence_panel #pre_quota,#main #sentence_panel #last_quota  {
  font-size: 28px;
  margin-right:5px;
  font-weight: bold;
  font-family: "SimHei", "Microsoft YaHei", "微软雅黑", "华文细黑",
  "Hiragino Sans GB" serif;
}



#album_panel {
  height: 480px;
  position: relative;
  z-index: 1;
}

#album_panel #top_back {
  /*background: url("../img/middle_triangle.svg") no-repeat;*/
  background-color: #f9ed69;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  z-index: 1;
}

#album_panel #bottom_back {
  /*background: url("../img/middle_triangle.svg") no-repeat;*/
  background-color: #f9ed69;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  border-bottom: 1px solid rgba(30, 35, 42, .06);
  box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);
}

#album_panel .album {
  float: left;
  height: 240px;
  width: 100%;
  background: black;
  position: relative;
}

#album_panel .album .pic {
  width: 100%;
  opacity: 0.6;
  cursor: pointer;
}

#album_panel .left_pic {
  position: absolute;
  /*bottom: 0;*/
  margin: auto;
  top: 50%;
  left: 50%;
  /*transform 中的50%是根据自身的大小计算的, 所以可以用此达到居中的效果*/
  transform: translate(-50%, -50%);
  z-index: 0;
}

#album_panel .right_pic {
  position: absolute;
  right: 0;
  z-index: 0;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes opacity_half

/* Opera */
  {
  from {
    opacity: 0.6;
    transform: scale(1);
  }

  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes opacity_half

/* Opera */
  {
  from {
    opacity: 0.6;
    transform: scale(1);
  }

  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

#album_panel .album {
  overflow: hidden;
}

#album_panel .album .pic:hover {
  /*animation: opacity_half 0.5s;
  -webkit-animation: opacity_half 0.5s;
  animation-fill-mode: forwards;*/
}

.badge{
  font-size:100% !important;
}

#work_panel {
  width: 100%;
  position: relative;
  height: 360px;
  background: url("../img/work_panel_back.webp");
  /*background: url("../img/top_panel_back.jpg");*/
  /*background-color: #f6f6f6;*/
  background-repeat: no-repeat;
  background-size: cover;
  /*等比例拉伸，不会影响图片效果*/
  /*background-attachment: fixed;*/
  z-index: 1;
}

#work_panel .work_triangle {}

#start_point {
  position: relative;
  margin: 0 auto;
}

#work_panel #work_bottom_triangle {}

#work_panel .work_triangle .left_triangle {
  height: 160px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

#work_panel .work_triangle .right_triangle {
  position: absolute;
  top: 8px;
  height: 40px;
  width: 100%;
  background: transparent;
  z-index: 0;
}

#work_panel #work_content {
  position: absolute;
  top: 0px;
  padding-left: 32px;
  height: 85%;
  width: 100%;
  z-index: 2;
}

#work_panel #work_content #work_title {
  color: black;
  font-size: 48px;
}

#work_panel .out_circle_point {
  width: 36px;
  height: 36px;
  background: white;
  border-radius: 18px;
  display: block;
  box-shadow: 0px 0px 10px black;
}

#work_panel .inner_circle_point {
  width: 34px;
  height: 34px;
  background: #ffffff;
  border-radius: 17px;
  display: block;
  z-index: 3;
}

#work_panel #out_start_circle {
  position: absolute;
  left: 48px;
}

#work_panel #inner_start_circle {
  position: absolute;
  top: 1px;
  left: 49px;
}

#work_panel #out_end_circle {
  position: absolute;
  bottom: 0;
  left: 80px;
}

#work_panel #inner_end_circle {
  position: absolute;
  bottom: 1px;
  left: 81px;
}

#work_panel #work_word {
  top: 2px;
  border-left: 3px solid black;
  position: relative;
  width: 128px;
  height: 213px;
  margin-left: 64px;
  z-index: -1;
}

#work_word #start_time {
  font-size: 20px;
  font-weight: bold;
  margin-left: 34px;
}

#work_word #end_time {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  font-weight: bold;
  left: 34px;
  margin-bottom: 0px;
}

#work_word #work_name {
  /*border-bottom: 1px solid black;*/
  position: absolute;
  top: 60px;
  font-size: 16px;
  font-weight: bold;
  left: 34px;
}

#recent_article_panel {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  color:#cccccc;
  /*background-color: #2d2d2d;*/
  box-shadow: 0px 4px 8px #272727;
  background: #536976;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#recent_article_panel #recent_article_title {
  padding-left: 36px;
  padding-top: 18px;
}

#recent_article_panel #panel_with_back {
  width: 100%;
  height: 100%;
}

#recent_triangle {}


#bottom {
  height: 300px;
}

#bottom_panel {
  position: fixed;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 360px;
  background: #536976;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #292E49, #536976);
}

#bottom_panel #access_content {
  color: #fff;
  font-size: 12px;
  font-family: arial;
  position: absolute;
  bottom: 6px;
  width: 100%;
  text-align: center;
}

#bottom_panel #access_content #access_cnt {
  margin-left: 6px;
  margin-right: 6px;
  color: #cccccc;
  font-size: 12px;
  font-weight: bold;
}

#rights {
  font-size: 12px;
  margin-left: 24px;
}

#bottom_panel #relate_link_panel {
  font-family: arial;
  position: absolute;
  right: 16px;
  bottom: 48px;
}

.relate_li {
  list-style-type: none;
  color: #cccccc;
  font-size: 14px;
  text-align: right;
}

.relate_li .relate_li_a {
  text-decoration: none;
  border: none;
  color: #ccc;
  cursor: pointer;
  font-size: 12px;
}

.relate_li :hover {
  border-bottom: 1px solid #ccc;
}


.relate_title {
  font-family: arial;
  font-size: 12px;
  color: white;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid white;
}

.relate_group {
  float: right;
}

.article_a:visited {
  color: #faf1e6;
  font-weight: bold;
}

.article_a {
  margin-left: 12px;
  font-weight: bold;
  color: #faf1e6;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}

.article_all_left {
  float: left;
}

.article_little_panel {
  width: 100%;
  border-radius: 4px;
  /*box-shadow: 2px 2px 4px #ffd31d;
  border-right: 1px solid #f9ed69;*/
  display: inline-block;
}

#article_page_all {
  background:#f5f7f9;;
  padding:18px 4%;
}

#article_page_all .article_item {
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgb(0 34 77 / 5%);
  padding:8px 16px 8px 16px;
  margin-bottom: 16px;
}

#article_detail,#media_all,#about_panel,#tool_panel {
  margin: 18px 4%;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgb(0 34 77 / 5%);
  padding:8px;
}

#article_all {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
}

#recent_article_panel #article_all {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 0px;
}

#article_edit_all .article_title {
  margin-left: 12px;
}

#article_all .article_list_title {
  margin-left: 12px;
}

.article_little_panel li,
#article_all li {
  font-family: "Courier New", "Monaco",
    "Menlo",
    "monospace",
    "FangSong",
    "STSong",
    "STXihei",
    "华文细黑",
    serif;
}

.article_little_panel li a,
#article_all li a {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

#upload_panel {
  margin: 32px 16px;
}

.upload_button {
  display: inline-block;
  width: 10px;
  cursor: pointer;
}

.right_bottom_alert {
  text-align: center;
  width: 240px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}


#article_detail #article_title {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}

#article_detail #content {
  padding: 8px 8px;
  width: 100%;
}

#detail_time {
  width: 100%;
  text-align: center;
  color: #cccccc;
  font-size: 12px;
  margin: 8px 0px;
  display: inline-block;
}

#edit_detail {
  position: fixed;
  right: 24px;
  bottom: 48px;
}


#edit_list_btn {
  position: fixed;
  right: 48px;
  bottom: 48px;
  z-index: 2000px;
}


#edit_detail a {
  color: #ffd31d;
}

#edit_list_btn a {
  color: #f9ed69;
}

#edit_detail a:hover,
#edit_list_btn a:hover {
  color: #d63447;
}

.edit_list_item_btn {
  float: right;
  margin-right: 12px;
  color: #ffd31d;
  cursor: pointer;
}

.edit_list_item_btn :hover {
  color: red;
}

#edit_back_i,
#edit_upload_i,
#edit_home_i {
  margin: 10px;
}

#add_new {
  margin: 8px;
  color: #ffd31d;
  cursor: pointer;
}

#uploaded_img {
  width: 200px;
  clear: both;
}

.img_des_title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 32px;
  line-height: 1.0;
  margin: 0 0;
}

.video_des_title{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 32px;
  line-height: 1.0;
  margin: 0 0;
  border-bottom: none !important;
}

.img_des {
  margin-bottom: 16px;
}

.life_img,.life_video {
  width: 100%;
}

.video_des{
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 16px;
}


.media-body {
  padding-left: 8px;
  padding-right: 8px;
  white-space: pre-line;
}

.card {
  margin-bottom: 16px;
  border-radius: 0;
  margin-top: 0;
  border: none;
  border-bottom: 1px solid #e8e8e8;
}

img {
  margin: 0;
}

.tool_card {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
  background: #536976;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #292E49, #536976);
}

#loading {
  position: fixed;
  /*background-color: white;*/
  border-radius: 100%;
  left: 50%;
  top: 40%;
  margin-left: -18px;
  width: 36px;
  height: 36px;
  border: 2px #ffffff solid;
  border-top-color: #ffd31d;
  border-bottom-color: #ffd31d;
  border-left-color: #f6f6f600;
  border-right-color: #f6f6f600;
  animation: loading 1s linear infinite;
  display: block;
}

#life_loading {
  position: relative;
  border-radius: 100%;
  left: 50%;
  top: 40%;
  margin-top: 18px;
  margin-left: -18px;
  width: 36px;
  height: 36px;
  border: 2px #ffffff solid;
  border-top-color: #ffd31d;
  border-bottom-color: #ffd31d;
  border-left-color: #fff;
  border-right-color: #fff;
  animation: loading 1s linear infinite;
}

.fadeIn {
  display: block;
  animation: fadeIn 0.5s linear;
  -webkit-animation: fadeIn 0.5s linear;
}

.small_hint {
  color: #ccc;
  font-size: 12px;
}

#tmpedit_save {
  width: 72px;
  height: 36px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  display: block !important;
  background-color: #343a40;
  color: white;
  padding: 7px 0px;
  text-align: center;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

#toc {
  display: none;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /*初始状态 透明度为0*/
  }

  20% {
    opacity: .2;
  }

  50% {
    opacity: .5;
    /*中间状态 透明度为0.5*/
  }

  70% {
    opacity: .7;
  }

  100% {
    opacity: 1;
    /*结尾状态 透明度为1*/
  }
}

/*动画效果*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    /*初始状态 透明度为0*/
  }

  20% {
    opacity: .2;
  }

  50% {
    opacity: .5;
    /*中间状态 透明度为0.5*/
  }

  70% {
    opacity: .7;
  }

  100% {
    opacity: 1;
    /*结尾状态 透明度为1*/
  }
}

.random_panel {
  background-color: white;
  width: 100%;
  padding: 8%;
  height: 100%;
  box-shadow: 0 1px 3px 0 #f5f7f9;
}

blockquote {
  overflow: hidden;
  width:100%;
}

#content p {
  word-break: break-word;
}
