body {
  width: 100%;
  min-width: fit-content;
}

.main{
  display:none;
}

#main {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

#main #header {
  width: 100%;
  height: 160px;
  position: relative;
  background-color: #f9ed69;
  z-index: 11;
}

#main #header #button_group {
  position: absolute;
  right: 19.2px;
  bottom: 0px;
  padding-left: 0px;
  border-bottom: 2px solid black;
}

#button_life,
#button_tool,
#button_about {
  margin-left: 8px;
}

#header_panel {
  position: relative;
  z-index: 12;
  height: 160px;
}



#triangle {}

#triangle_bottom {}


#main #top_panel {
  width: 100%;
  height: 480px;
  background: url("../img/top_panel_back.jpg");
  /*background-attachment: fixed; 这个可以造成视差滚动的效果*/
  background-repeat: no-repeat;
  background-size: auto 100%;
  /*等比例拉伸，不会影响图片效果*/
  position: relative;
  z-index: 10;
}



#main #top_panel #top_panel_bottom {
  /*  background: url("../img/header_triangle_bottom.svg");
  background-size: cover;
  width: 100%;
  height: 240px;
  position: absolute;
  bottom: 0;*/
}

#main #header #button_home {
  position: absolute;
  bottom: 0;
  left: 19.2px;
  border-bottom: 2px solid black;
  font-size: 14px;
}

/* 这里用到了id,因为id的优先级要大于class,所以下方的class:hover不会生效 */
#main #header .header_button {
  display: inline-block;
  background-color: transparent;
  border: none;
  /*border-bottom:5px solid black;*/
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 8px;
  font-size: 14px;
  /*font-family: monospace;*/
  font-weight:100;
  line-height:1;
}

.header_button:focus,
.header_button:active:focus,
.header_button.active:focus,
.header_button.focus,
.header_button:active.focus,
.header_button.active.focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}

.header_button:hover {
  background-color: transparent;
  color: #f30067 !important;
  border: none;
  border-bottom: 5px solid #ffd31d;
  border-radius: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  font-size: 18px;
  cursor: pointer;
}


#main #header .header_button_active {
  background-color: transparent;
  color: #f30067;
  border: none;
  /*border-bottom: 3px solid #f30067;*/
  border-radius: 0px;
  font-weight: bold;
}

#main #sentence_panel {
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 32px;
  padding-bottom: 56px;
  width: 100%;
  height: 100%;
  background-color: #f9ed69;
  z-index: 1;
  position: relative;
}

#sentence_panel #beauty_sentence_panel {
  position: relative;
}

#sentence_panel #sentence_author {
  float: right;
  font-weight: bold;
  font-size: 18px;
}

#main #sentence_panel #sentence {
  margin: 0.8em 0;
  font-family: var(--font-sans-serif);
  -webkit-font-smoothing: antialiased;
  line-height: 2rem;
  letter-spacing: 0;
  margin: 0;
  font-size: 1.1rem;
  color: #00000099;
}

#main #sentence_panel #pre_quota {
  font-size: 36px;
  font-weight: bold;
  font-family: "SimHei", "Microsoft YaHei", "微软雅黑", "华文细黑",
    "Hiragino Sans GB"serif;
}

#main #sentence_panel #last_quota {
  font-weight: bold;
  font-family: "SimHei", "Microsoft YaHei", "微软雅黑", "华文细黑",
    "Hiragino Sans GB"serif;
}


#album_panel {
  height: 240px;
  position: relative;
  z-index: 1;
}

#album_panel #top_back {
  /*background: url("../img/middle_triangle.svg") no-repeat;*/
  background-color: #f9ed69;
  width: 100%;
  /*height: 10%;*/
  position: absolute;
  top: 0;
  z-index: 1;
}

#album_panel #bottom_back {
  /*background: url("../img/middle_triangle.svg") no-repeat;*/
  background-color: #f9ed69;
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

#album_panel .album {
  float: left;
  height: 240px;
  width: 50%;
  background: black;
  position: relative;
}

#album_panel .album .pic {
  width: 100%;
  opacity: 0.6;
  cursor: pointer;
}

#album_panel .left_pic {
  position: absolute;
  /*bottom: 0;*/
  margin: auto;
  top: 50%;
  left: 50%;
  /*transform 中的50%是根据自身的大小计算的, 所以可以用此达到居中的效果*/
  transform: translate(-50%, -50%);
  z-index: 0;
}

#album_panel .right_pic {
  position: absolute;
  right: 0;
  z-index: 0;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes opacity_half

/* Opera */
  {
  from {
    opacity: 0.6;
    transform: scale(1);
  }

  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes opacity_half

/* Opera */
  {
  from {
    opacity: 0.6;
    transform: scale(1);
  }

  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

#album_panel .album {
  overflow: hidden;
}

#album_panel .album .pic:hover {
  animation: opacity_half 0.5s;
  -webkit-animation: opacity_half 0.5s;
  animation-fill-mode: forwards;
}

#work_panel {
  width: 100%;
  position: relative;
  height: 600px;
  background: url("../img/work_panel_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*等比例拉伸，不会影响图片效果*/
  background-attachment: fixed;
  z-index: 1;
}

#work_panel .work_triangle {}

#start_point {
  position: relative;
  margin: 0 auto;
}

#work_panel #work_bottom_triangle {}

#work_panel .work_triangle .left_triangle {
  height: 160px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

#work_panel .work_triangle .right_triangle {
  position: absolute;
  top: 8px;
  height: 40px;
  width: 100%;
  background: transparent;
  z-index: 0;
}

#work_panel #work_content {
  position: absolute;
  top: 32px;
  padding-left: 32px;
  height: 500px;
  width: 100%;
  z-index: 2;
}

#work_panel #work_content #work_title {
  color: black;
  font-size: 60px;
}

#work_panel .out_circle_point {
  width: 36px;
  height: 36px;
  background: white;
  border-radius: 18px;
  display: block;
  box-shadow: 0px 0px 10px black;
}

#work_panel .inner_circle_point {
  width: 34px;
  height: 34px;
  background: #f9ed69;
  border-radius: 17px;
  display: block;
  z-index: 3;
}

#work_panel #out_start_circle {
  position: absolute;
  left: 64px;
}

#work_panel #inner_start_circle {
  position: absolute;
  top: 1px;
  left: 65px;
}

#work_panel #out_end_circle {
  position: absolute;
  bottom: 0;
  left: 96px;
}

#work_panel #inner_end_circle {
  position: absolute;
  bottom: 1px;
  left: 97px;
}

#work_panel #work_word {
  top: 2px;
  border-left: 3px solid black;
  position: relative;
  width: 128px;
  height: 389px;
  margin-left: 81px;
  z-index: -1;
}

#work_word #start_time {
  font-size: 20px;
  font-weight: bold;
  margin-left: 34px;
}

#work_word #end_time {
  position: absolute;
  bottom: 0px;
  font-size: 20px;
  font-weight: bold;
  left: 34px;
  margin-bottom: 0px;
}

#work_word #work_name {
  border-bottom: 1px solid black;
  position: absolute;
  top: 60px;
  font-size: 32px;
  font-weight: bold;
  left: 34px;
}

#recent_article_panel {
  width: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 1;
}

#recent_article_panel #recent_article_title {
  padding-left: 36px;
  padding-top: 18px;
}

#recent_article_panel #panel_with_back {
  width: 100%;
  height: 100%;
  /*background: url("../img/bottom_panel_back.png");
  opacity: 0.8;*/
  /*background-attachment: fixed; 这个可以造成视差滚动的效果*/
  background-color: #f9ed69;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#recent_triangle {}


#bottom {
  height: 300px;
}

#bottom_panel {
  position: fixed;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 360px;
  background: #21333d;
}

#bottom_panel #access_content {
  color: #ddd;
  font-size: 12px;
  font-family: arial;
  position: absolute;
  bottom: 6px;
  width: 100%;
  text-align: center;
}

#bottom_panel #access_content #access_cnt {
  margin-left: 6px;
  margin-right: 6px;
  color: #cccccc;
  font-size: 16px;
  font-weight: bold;
}

#rights {
  font-size: 14px;
  margin-left: 24px;
}

#bottom_panel #relate_link_panel {
  font-family: arial;
  position: absolute;
  right: 32px;
  bottom: 24px;
}

.relate_li {
  list-style-type: none;
  color: #cccccc;
  font-size: 14px;
  text-align: right;
}

.relate_li .relate_li_a {
  text-decoration: none;
  border: none;
  color: #ccc;
  cursor: pointer;
}

.relate_li :hover {
  border-bottom: 1px solid #ccc;
}


.relate_title {
  font-family: arial;
  font-size: 18px;
  color: white;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 2px solid white;
}

.relate_group {
  float: right;
}

.article_a:visited {
  color: #f30067;
  font-weight: bold;
}

.article_a {
  margin-left: 12px;
  font-weight: bold;
  color: #f30067;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}

.article_a:hover {
  color: #614ad3;
  font-size: 18px;
  outline: none;
  text-decoration: none;
  position: relative;
  line-height: 1;
  display: inline-block;
  font-weight: bold;
  animation: font-big 0.1s;
  -moz-animation: font-biig 0.1s;
  -webkit-animation: font-big 0.1s;
  -o-animation: font-big 0.1s;
}

@keyframes font-big {
  from {
    font-size: 15px;
  }

  to {
    font-size: 18px;
  }
}

.article_all_left {
  float: left;
}

.article_little_panel {
  width: 100%;
  border-radius: 4px;
  /*box-shadow: 2px 2px 4px #ffd31d;
  border-right: 1px solid #f9ed69;*/
  display: inline-block;
}

#article_all {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
}

#recent_article_panel #article_all {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 0px;
}

#article_edit_all .article_title {
  margin-left: 12px;
}

#article_all .article_list_title {
  margin-left: 12px;
}

.article_little_panel li,
#article_all li {
  font-family: "Courier New", "Monaco",
    "Menlo",
    "monospace",
    "FangSong",
    "STSong",
    "STXihei",
    "华文细黑",
    serif;
}

.article_little_panel li a,
#article_all li a {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

#media_all {
  margin: 80px 80px;
}

#upload_panel {
  margin: 80px 80px;
}

.upload_button {
  display: inline-block;
  width: 10px;
  cursor: pointer;
}

.right_bottom_alert {
  text-align: center;
  width: 240px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

#tool_panel,
#about_panel {
  margin: 32px 16px;
}

#article_detail {
  margin: 64px 16px;
}

#article_detail #article_title {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}

#article_detail #content {
  margin: 16px 16px;
}

#detail_time {
  width: 100%;
  text-align: center;
  color: #cccccc;
  font-size: 12px;
  margin: 8px 0px;
  display: inline-block;
}

#edit_detail {
  position: fixed;
  right: 24px;
  bottom: 48px;
}


#edit_list_btn {
  position: fixed;
  right: 48px;
  bottom: 48px;
  z-index: 2000px;
}


#edit_detail a {
  color: #ffd31d;
}

#edit_list_btn a {
  color: #f9ed69;
}

#edit_detail a:hover,
#edit_list_btn a:hover {
  color: #d63447;
}

.edit_list_item_btn {
  float: right;
  margin-right: 12px;
  color: #ffd31d;
  cursor: pointer;
}

.edit_list_item_btn :hover {
  color: red;
}

#edit_back_i,
#edit_upload_i,
#edit_home_i {
  margin: 10px;
}

#add_new {
  margin: 8px;
  color: #ffd31d;
  cursor: pointer;
}

#uploaded_img {
  width: 200px;
  clear: both;
}

.life_img {
  width: 640px;
}

.life_video {
  width: 640px;
  height: 430px;
}

.media-body {
  padding: 8px;
}

.card {
  border-radius: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.tool_card {
  width: 100%;
  display: inline-block;
  cursor: pointer;
}

#loading {
  position: fixed;
  background-color: white;
  border-radius: 100%;
  left: 50%;
  top: 40%;
  margin-left: -18px;
  width: 36px;
  height: 36px;
  border: 2px #ffffff solid;
  border-top-color: #ffd31d;
  border-bottom-color: #ffd31d;
  border-left-color: #f6f6f6;
  border-right-color: #f6f6f6;
  animation: loading 1s linear infinite;
  display: block;
}

.fadeIn {
  display: block;
  animation: fadeIn 0.5s linear;
  -webkit-animation: fadeIn 0.5s linear;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /*初始状态 透明度为0*/
  }

  20% {
    opacity: .2;
  }

  50% {
    opacity: .5;
    /*中间状态 透明度为0.5*/
  }

  70% {
    opacity: .7;
  }

  100% {
    opacity: 1;
    /*结尾状态 透明度为1*/
  }
}

/*动画效果*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    /*初始状态 透明度为0*/
  }

  20% {
    opacity: .2;
  }

  50% {
    opacity: .5;
    /*中间状态 透明度为0.5*/
  }

  70% {
    opacity: .7;
  }

  100% {
    opacity: 1;
    /*结尾状态 透明度为1*/
  }
}
